name: ch_ephem-tests
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  run-tests:

    strategy:
      matrix:
        python-version: ["3.10", "3.14"]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip dependencies
      run: pip install -e .[test]

    - name: Run tests
      run: pytest -v .


  doc-check:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - name: Install requirements
      run: pip install -e .[doc]

    - name: Build sphinx docs
      run: sphinx-build -W -b html doc/ doc/_build/html
